@model Tasks.AspNetCore.Models.IndexMeneger

<h1>ToDoList</h1>
<form  method="post"  >
    <div>
        <p>Add Task</p>
        <input asp-for="Title" size="15" maxlength="30" />
        <input type="submit" asp-action="Add" asp-controller="Home"  value="Add"/>
        @*<a asp-action="Add"  asp-controller="Home" asp-route-task="@Model.Title"><input type="button" name="btnAddTask" value="Add" /></a>*@
    </div>
</form>
<form id=" list" name="formList">
    <br />
    <table border="1">

        <thead>
        <th bgcolor="#cccccc" width="500">Task</thbgcolor>

        <th bgcolor="#cccccc">Compleated</th>
        </thead>

        <tbody>
            @{
                foreach (var i in Model.Itams)
                {
                    <tr>
                        @{ if (i.Compleated)
                            {
                                <td bgcolor="#ff0000">
                                    <p><s>@i.Title</s></p>
                                </td>
                                <td>
                                    <input type="checkbox" checked="checked" />
                                </td>
                            }
                            else
                            {
                                <td>
                                    <p>@i.Title</p>
                                </td>
                                <td>
                                    <input type="checkbox" />
                                </td>
                            }
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
    <br />
</form>
