@model Tasks.AspNetCore.Models.IndexMeneger;

<h1>ToDoList</h1>
<form method="post">
    <div>
        <p>Add Task</p>
        <input  asp-for="Title" size="15" maxlength="30" />
        <input type="submit" asp-action="Add"  asp-controller="Home"   value="Add" />
    </div>
</form>
<form id=" list" name="formList">
    <br />
    <table >

        <thead>
        <th bgcolor="#cccccc" width="500">Task</th>

        <th bgcolor="#cccccc">Compleated</th>
        </thead>

        <tbody>
            @{
                foreach (var i in Model.Itams)
                {
                    <tr>
                        @{ if (i.Compleated)
                            {
                                <td bgcolor="#ff0000">
                                    <p><s>@i.Title</s></p>
                                </td>
                                <td>
                                    <a href="https://@($"localhost:5001/Home/Checking/{i.ItamId}")">&#9989;</a>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <p>@i.Title</p>
                                </td>
                                <td >
                                    <a href="https://@($"localhost:5001/Home/Checking/{i.ItamId}")">&#10063;</a>
                                </td>
                            }
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
    <br />
</form>
